# common
BasedOnStyle: Microsoft
ColumnLimit: 120
UseTab: Never
Standard: Latest

# alignment
PointerAlignment: Left
QualifierAlignment: Left

# indent
NamespaceIndentation: All
IndentWidth: 4
IndentAccessModifiers: true
IndentCaseLabels: true

# break
AlwaysBreakAfterDefinitionReturnType: All
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterComma
AlwaysBreakTemplateDeclarations: Yes

# arguements
BinPackArguments: false
BinPackParameters: false

# assign
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: true
AlignArrayOfStructures: Right
InsertTrailingCommas: Wrapped
#PackConstructorInitializersStyle: NextLineOnly