.VSCodeCounter/
tags
build/.cmake
build/CMake*
build/debug/
build/doc/
build/release/
build/src/
build/.ninja*
build/build.*
build/cmake*
build/CMake*
build/compile_*
build/install_*
ubild/compile_*.json
doc/html/
doc/latex/
install/
src/tags
src/*.sw*
src/pwl_git.hpp